/* .homeDiv{
    position: absolute;
    top: 20vw;
    width: 34vw;
    height: 20vw;
} */

.nameDisplay{
    position: absolute;
    top: 16vw;
    line-height: 0.8;
    font-size: 8vw;
    animation: slideUpName ease 1s;
    color: #F0F0F0;
    width: fit-content;
}

.infoDisplay{
    position: absolute;
    top: 30vw;
    font-size: 2.1vw;
    padding-left: 0;
    animation: slideUpInfo ease 1s;
    color: #F0F0F0;
    margin-left: 0.75vw;
}

.designBar{
    position: absolute;
    top: 15.25vw;
    height: 15vw;
    width: 5vw;
    transform: skew(-22deg);
    border-radius: 30px 0 0 30px;
}

#homeDesignBar1{
    left: 82vw;
    background-color: #12BB8E;
    animation: bar1 1.6s ease;
}

#homeDesignBar2{
    left: 81vw;
    background-color: #FFB6BD;
    animation: bar2 1.5s ease;
}

#homeDesignBar3{
    left: 80vw;
    background-color: #D1A212;
    animation: bar3 1.4s ease;
}

#homeDesignBar4{
    left: 79vw;
    background-color: #ff0044;
    animation: bar4 1.3s ease;
}

#homeDesignBar5{
    left: 78vw;
    background-color: #031E79;
    animation: bar5 1.2s ease;
}

@keyframes bar5{
    0% {border-radius: 0;}
    20% {left: 45vw; border-radius: 30px 0 0 30px;}
    75% {left: 78vw;}
    90% {left: 78vw;}
    100% {left: 78vw;}
}

@keyframes bar4{
    0% {opacity: 0;}
    19% {opacity: 0;}
    20% {left: 45vw; opacity: 1;}
    75% {left: 78vw;}
    90% {left: 78vw;}
    100% {left: 79vw;}
}

@keyframes bar3{
    0% {opacity: 0;}
    19% {opacity: 0;}
    20% {left: 45vw; opacity: 1;}
    75% {left: 78vw;}
    90% {left: 78vw;}
    100% {left: 80vw;}
}

@keyframes bar2{
    0% {opacity: 0;}
    19% {opacity: 0;}
    20% {left: 45vw; opacity: 1;}
    75% {left: 78vw;}
    90% {left: 78vw;}
    100% {left: 81vw;}
}

@keyframes bar1{
    0% {opacity: 0;}
    19% {opacity: 0;}
    20% {left: 45vw; opacity: 1;}
    75% {left: 78vw;}
    90% {left: 78vw;}
    100% {left: 82vw;}
}

@keyframes slideUpName{
    0% {top: 18vw; opacity: 0;}
    100% {top: 16vw; opacity: 1;}
}

@keyframes slideUpInfo{
    0% {top: 31vw; opacity: 0;}
    100% {top: 30vw; opacity: 1;}
}
