/* right */

.resumeDiv{
    position: absolute;
    top: 1vh;
    left: 52vw;
    margin-right: 5vw;
    margin-top: 8rem;
}

.resHeader{
    margin-bottom: 0;
    font-size: 2vw;
    animation: h4slideLeft 1s ease;
}

.resH5{
    width: max-content;
    font-weight: 300;
    font-size: 1vw;
    margin: 15px 0vw;
    transition: all 0.25s ease;
    animation: h5slideLeft 1s ease;
}

.resH5:hover{
    color: #f0f0f0;
    font-size: 1.4vw;
    padding: 0 15px;
}

.resPushRight{
    margin: 20px 2.5vw;
}

/* left */

.resumeBox{
    /* min-width: 270px;
    min-height: 270px; */
    width: 30vw;
    height: 60vh;
    max-width: 600px;
    max-height: 600px;
    position: absolute;
    left: 10vw;
    top: 225px;
    padding: 5px;
    box-shadow: 0 0 0 10px #f0f0f0,
                0 0 0 11px black;
    background-color: #d1a212;
    animation: borderDisplay 2s ease,
                fadeIn 1s linear;
}

table{
    margin: 0.5vw;
}

th{
    width: 30vw;
    font-size: 1.5vw;
}

thead{
    border-bottom: 1px solid black;
    
}

tbody{
    font-size: .9vw;
}

tbody tr:nth-child(even) {
    background-color: #c79809;
}

td{
    vertical-align: top;
}

#tdRight{
    padding-left: 10px;
}

#thDate{
    text-align: right;
}

/* @keyframes h5slideLeft{
    0% {margin-left: 3vw; opacity: 0;}
    100% {margin-left: 0vw; opacity: 1;}
}

@keyframes h4slideLeft{
    0% {margin-left: 2vw; opacity: 0;}
    100% {margin-left: 0vw; opacity: 1;}
} */

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes borderDisplay{
    0% {box-shadow: 0 0 0 0px #f0f0f0,
                    0 0 0 0px black,
                    0 0 0 0px #d1a212}

    25% {box-shadow: 0 0 0 0px #f0f0f0,
                    0 0 0 0px black,
                    0 0 0 10px #d1a212}
                    
    50% {box-shadow: 0 0 0 0px #f0f0f0,
                    0 0 0 11px black,
                    0 0 0 10px #d1a212}

    100% {box-shadow:
                    0 0 0 10px #f0f0f0,
                    0 0 0 11px black,
                    0 0 0 0px #d1a212}
}