.websiteBody{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bodyLeft{
    float: left;
    width: 50%;
    height: 100%;
    background-color: #f0f0f0;
    transition: all 1s ease;
}

.bodyRight{
    float: right;
    width: 50%;
    height: 100%;
    background-color: #0534cf;
    transition: all 1s ease;
}

html, body{
    min-height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}

@font-face{
    font-family: 'Raleway';
    src: url(../fonts/300Raleway-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'DMSerif';
    src: url(../fonts/DMSerifText-Regular.ttf);
}