html, body{
    min-height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    font-family: "font300";
}

@font-face{
    font-family: 'font300';
    src: url(../fonts/300Raleway-VariableFont_wght.ttf);
}