/* #f0f0f0 */

/* .logoParent{
    float: left;
    padding-left: 3rem;
    height: 100%;
} */

.logoMain{
    position: absolute;
    left: 3vw;
    top: 3vw;
    width: 6vw;
    height: 6vw;
    text-decoration: none;
    text-align: center;
    line-height: 5.75vw;
    font-size: 2.25vw;
    font-family: 'Raleway';
    border-radius: 15px;
    transition: border-radius 2s ease,
                background-color 1s linear,
                border-color 1s linear,
                color 0.2s linear;
    color: black;
    border: black 1px solid;
    z-index: 2;
}

.logoMain:hover{
    text-decoration: none;
    color: white;
}